.userSearchBar {
  display: grid;
  grid-template-columns: 15% 55% 30%;
  height: 65px;
  border-radius: 15px;
}

.userInput {
  border: none;
  font-family: monospace;
  font-size: 13px;
  outline: none;
}

.userSearchButton {
  border: none;
  background-color: var(--lightBlue);
  border-radius: 10px;
  margin: 6px;
  color: var(--textDarkMode);
  font-size: 14px;
  font-family: monospace;
  font-weight: 700;
}

.userSearchIcon {
  margin: auto;
}
