.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 32px 24px 0px 24px;
}

.appLightMode {
  background-color: var(--backgroundLightMode);
}

.appDarkMode {
  background-color: var(--backgroundDarkMode);
}

/* title style  */
/* .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.titleText {
  font-size: 26px;
  line-height: 38.51px;
  font-family: monospace;
  font-weight: 700;
}

.titleTextLightMode {
  color: var(--titleTextLightMode);
}

.titleTextDarkMode {
  color: var(--titleTextDarkMode);
} */

/* .darkModeSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 19.25px;
  gap: 16px;
  cursor: pointer;
}

.darkModeSwitcher p {
  letter-spacing: 2.5px;
  color: #4b6a9b;
} */

/* userSearchBar style */
/* .userSearchBar {
  display: grid;
  grid-template-columns: 15% 55% 30%;
  height: 65px;
  border-radius: 15px;
} */

.contentBackgroundLightMode {
  background-color: var(--contentBackgroundLightMode);
}

.contentBackgroundDarkMode {
  background-color: var(--contentBackgroundDarkMode);
}

/* .userInput {
  border: none;
  font-family: monospace;
  font-size: 13px;
  outline: none;
} */

.textDarkMode {
  color: var(--textDarkMode);
}

.textLightMode {
  color: var(--textLightMode);
}

/* .userSearchButton {
  border: none;
  background-color: var(--lightBlue);
  border-radius: 10px;
  margin: 6px;
  color: var(--textDarkMode);
  font-size: 14px;
  font-family: monospace;
  font-weight: 700;
}

.userSearchIcon {
  margin: auto;
} */

/* userInfo */
.userInfoContainer {
  margin-top: 26px;
  padding: 24px;
  border-radius: 15px;
}

.userIconAndNameContainer {
  display: flex;
  align-items: center;
}

.userNameContainer {
  margin-left: 19px;
}

.userName {
  font-size: 16px;
  font-family: monospace;
  font-weight: 700;
}

.userLink {
  color: var(--lightBlue);
  font-size: 13px;
  font-family: monospace;
}

.userJoined {
  margin-top: 6px;
  font-size: 13px;
  font-family: monospace;
}

/* userInfo style */

.userInfo {
  margin-top: 34px;
}

.userBio {
  font-size: 13px;
  line-height: 25px;
  font-family: monospace;
}

.userFollowers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: auto;
  padding: 18px 15px;
  border-radius: 10px;
  margin-top: 23px;
}

.userFollowersLightModeBackground {
  background-color: var(--followersBackgroundLightMode);
}

.userFollowersDarkModeBackground {
  background-color: var(--followersBackgroundDarkMode);
}

.userFollowers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.repos,
.followers,
.following {
  font-size: 11px;
  font-family: monospace;
  /* color: var(--textLightMode); */
}

.userFollowers div p {
  font-size: 16px;
  font-family: monospace;
  font-weight: 700;
}

/* footer */
.footerContainer {
  margin-top: 24px;
}

.footerItem {
  display: grid;
  grid-template-columns: 15% 85%;
  font-size: 13px;
  font-family: monospace;
  margin-top: 17px;
}

.UserLocation {
  fill: red;
}
