.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 32px 24px 0px 24px;
}

.appLightMode {
  background-color: var(--backgroundLightMode);
}

.appDarkMode {
  background-color: var(--backgroundDarkMode);
}

.contentBackgroundLightMode {
  background-color: var(--contentBackgroundLightMode);
}

.contentBackgroundDarkMode {
  background-color: var(--contentBackgroundDarkMode);
}

.textDarkMode {
  color: var(--textDarkMode);
}

.textLightMode {
  color: var(--textLightMode);
}
