.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px;
}

.appLightMode {
  background-color: var(--backgroundLightMode);
}

.appDarkMode {
  background-color: var(--backgroundDarkMode);
}

/* title style  */
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.titleText {
  font-size: 26px;
  line-height: 38.51px;
  font-family: monospace;
  font-weight: 700;
  /* color: #222731; */
}

.titleTextLightMode {
  color: var(--titleTextLightMode);
}

.titleTextDarkMode {
  color: var(--titleTextDarkMode);
}
.darkModeSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 19.25px;
  gap: 16px;
  cursor: pointer;
}

.darkModeSwitcher p {
  letter-spacing: 2.5px;
  color: #4b6a9b;
}

/* userSearchBar style */
.userSearchBar {
  display: grid;
  grid-template-columns: 15% 55% 30%;
  height: 65px;
  border-radius: 15px;
}

.contentBackgroundLightMode {
  background-color: var(--contentBackgroundLightMode);
}

.contentBackgroundDarkMode {
  background-color: var(--contentBackgroundDarkMode);
}

.userInput {
  border: none;
  font-family: monospace;
  font-size: 13px;
  outline: none;
}

.textDarkMode {
  color: var(--textDarkMode);
}

.textLightMode {
  color: var(--textLightMode);
}

.userSearchButton {
  border: none;
  background-color: #0079ff;
  border-radius: 10px;
  margin: 6px;
  color: var(--textDarkMode);
  font-size: 14px;
  font-family: monospace;
  font-weight: 700;
}

.userSearchIcon {
  margin: auto;
}
