* {
  margin: 0px;
  padding: 0px;
}

:root {
  --backgroundLightMode: #f2f2f2;
  --backgroundDarkMode: #141d2f;

  --titleTextDarkMode: #ffffff;
  --titleTextLightMode: #222731;

  --contentBackgroundLightMode: #fefefe;
  --contentBackgroundDarkMode: #1e2a47;

  --textDarkMode: #ffffff;
  --textLightMode: #4b6a9b;

  --lightBlue: #0079ff;
}
